<template lang="pug">
    footer.footer
        | {{ data.text }}
        span.footer__info
            span.lnr.lnr-phone-handset 
            | +91 {{ data.contact.phone }}
        | or
        a.footer__info(:href='"mailto:" + data.contact.email')
            span.lnr.lnr-envelope
            | {{ data.contact.email }}
</template>
<script>
export default {
    props: ['data']
}
</script>

<style>
.footer{
    text-align: center;
    bottom: 0;
    position: absolute;
    padding-top: 3em;
    min-height: 100px;
    width: 100%;
    opacity: 0.8;
    font-size: 1.2em;
}
.footer__info{
    margin: 0 5px;
}
.footer__info > .lnr{
    margin: 0 3px;
    position: relative;
    top: 2px;
}
</style>

