<template lang="pug">
    nav.navbar
        nuxt-link.logo(to='/') 
            //span.lnr.lnr-heart-pulse
            img.logo__image(src='~/assets/logo.png')
            span.logo__text {{ data.logo }}
        .logo-tagline {{ data.tagline }}
</template>

<script>
export default {
    props: ['data']
}
</script>
<style>
.navbar{
    font-family: 'Montserrat', sans-serif;
    background: var(--navbar-background);
    text-align: center;
    padding: 1.5em 0;
    border-bottom: 7px solid #1DA07C;
}
.logo{
    font-size: 3.5em;
    color: var(--navbar-logo);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > .lnr{
    font-size: 1.2em;
    margin-right: 0.3em;
}
.logo__image{
    width: 200px;
}
.logo__text{
    font-size: 2em;
}
.logo-tagline{
    font-family: 'Montserrat', sans-serif;
    color: var(--navbar-logo);
    opacity: 0.7;
    font-size: 2em;
}
.logo:hover{
    color: var(--navbar-logo);
}

</style>

