* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:root {
	--navbar-background: #53b98e;
	--navbar-logo: white;
	--text-color: rgba(0, 0, 0, 0.8);
	--text-color-alt: #1da07c;
	--box-hover-color: white;
	--box-hover-background: #53b98e;
	--button-background: #53b98e;
	--button-hover-background: #53b98e;
}
a {
	color: var(--text-color);
	text-decoration: none;
}
a:hover {
	color: var(--box-hover-background);
}
body {
	font-family: 'Muli', sans-serif;
}
section {
	max-width: 1140px;
	margin: 0 auto;
}
.blockquote {
	border-left: 5px solid var(--navbar-background);
	display: block;
	padding: 1em;
	font-size: 1.5em;
	margin: 1em 0;
	color: var(--text-color);
	background: #fff;
	border-radius: 0 10px 10px 0;
}
.blockquote > .blockquote__text > p {
	line-height: 1.5em;
}
.blockquote > .blockquote__text > .upper {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}
.blockquote > .blockquote__text > .lower {
	font-size: 0.8em;
}
.blockquote > .blockquote__text > ul {
	margin-left: 40px;
}
.button {
	display: inline-block;
	background: var(--button-background);
	color: #fff;
	padding: 1em;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	transition: all 0.2s;
	outline: none;
}
.button:hover {
	color: #fff;
	background: var(--button-hover-background);
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
