<template lang='pug'>
    main.pattern__tic-tac-toe
        nav-bar(:data='static.navbar')
        .body
            nuxt/
        footer-contact(:data='static.footer')
</template>
<script>
import NavBar from '~/components/NavBar.vue';
import FooterContact from '~/components/FooterContact.vue';
import siteData from '~/site-data.js';
export default {
    data(){
        return {
            static: siteData
        }
    },
    components: {
        NavBar,
        FooterContact
    }
}
</script>
<style>
@import '~/assets/global.css';
@import '~/assets/patterns.css';
main{
    min-height: 100vh;
    position: relative;
}
.body{
    padding-bottom: 100px;
}
</style>
