<template lang='pug'>
    section
        .blockquote.blockquote--doctor
            .blockquote__image
                img.pull-right.image(src='~/assets/doctor.gif')
            .blockquote__text
                p Hello Doctors,
                p Add your details and get online appointments
                br
                p.lower Now, why do you tie up with us?
                ul.lower
                    li We increase your customer base.
                    li Provide Doc cards.
                br
                p.card-list
                    ul
                        li.card 
                            .card__title Points will be added with each and every appointment.
                        li.card 
                            .card__title Points can be redeemed in the form of cash.
                        li.card 
                            .card__title Lucky draws for all.
        .image-text--doctor
            .image-text__background--doctor
                .image-text__tagline--doctor Get your card points redeemed!
            .image-text__description--doctor
                p 
                    | You wouldn't want to miss an opportunity which is this good. So sign in, hurry up.
                    img.pull-right.stethescope-image(src='~/assets/stethescope.jpeg')

                br
                a.button(href='#') Sign up!
        .text-blob
            span.lnr.lnr-arrow-right
            | Verification of documents provided by you will take place.
            p Terms and conditions applied
                    

</template>
<script>
export default {
    name: 'Doctors',
    head () {
    return {
            title: 'Doctors'
        }
    }
}
</script>
<style>
.stethescope-image{
    max-width: 200px;
    position: relative;
    top: 5px;
    border-radius: 5px;
}
.blockquote--doctor{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.blockquote__image{
    max-width: 50%;
}
.blockquote__image > img{
    border-radius: 5px;
    width: calc(100% - 20px);
}
.card-list > ul{
    list-style: none;
}
.card {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    transition: all 0.2s;
    border-radius: 5px;
}
.card > .card__title{
    font-size: 1.3em;
    line-height: 1.5em;
}
.card:hover{
    padding-left: 2em;
    font-weight: 700;
}
.image-text--doctor{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.image-text__background--doctor{
    background: url('~/assets/many-pointed-star.svg');
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    padding: 100px 30px;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.6em;
}
.image-text__background--doctor > .image-text__tagline--doctor{
    transform: rotate(-25deg);
    text-align: center;
}
.image-text__description--doctor{
    font-size: 1.2em;
        max-width: 70%;

}
.image-text__description--doctor > p{
    font-size: 1.2em;
}
.text-blob{
    margin: 50px 0;
    font-size: 1.3em;
}
.text-blob > .lnr{
    margin-right: 0.5em;
}
.text-blob > p{
    font-size: 1rem;
}
</style>