<template lang='pug'>
    section
        .blockquote.blockquote--home
            .blockquote__image
                img.round-image(src='~/assets/home-1.jpeg')
            .blockquote__text
                p We've made it easy for you
                p.upper Find your doctor and book appointments at just a click
                p.lower For the first time in medical history, a website for both Doctors and patients!
        .boxes
            nuxt-link.box(to='/doctors')
                span.lnr.lnr-heart-pulse
                .box__title Doctors

            nuxt-link.box(to='/patients')
                span.lnr.lnr-users
                .box__title Patients
        .text-blob--home
            p.link-text(@click='toggleAboutUs') About us
            .text-blob--aboutus(ref='aboutus')
                p THE 4P’S OF MARKETING-
                ol
                    li 
                        strong PRODUCT
                        img.round-image.pull-right(src='~/assets/home-4.gif')
                        |  - Our products includes all kinds of medicines and medical appliances. 
                    li 
                        strong PRICING
                        |  - This refers to the process of setting prices, including discount. We’ll purchase medicines directly from companies, add our profit margin and resale it to our customers. Discounts will be offered to people with membership cards. There will be discount periods too. 
                    li 
                        strong PLACEMENT
                        |  - We’ll tie up with courier agencies for delivering our products. Initially, our business will be limited to national capital region. Disease prone areas will be targeted. 
                    li 
                        strong PROMOTION
                        |  - Our main focus will be on internet or online advertising, because its more likely to attract customer’s attention. Ads will be posted on search engines, result pages,etc. 
                p We will make sure that ethics in advertising are kept in mind. Various schemes will be provided from time to time like “HEALTH FESTIVAL” where with every purchase customers can avail one free full body check up.
                p 
                    strong EMPLOYEMENT GENERATION
                    |  -
                p For making the core management team, we need to hire people with technical, managerial and creative skills. We will also need peons, accountants, etc. There will be requirement of factory workers. All this will create tremendous employment opportunities for people. 
                p We will also increase the customer base of doctors, who are self employed. Thus, our website encourages self employement.
        .image-grid
            img.round-image(src='~/assets/home-2.gif')
            img.round-image(src='~/assets/home-3.gif')
            
</template>
<script>
export default {
    name: 'Index',
    head () {
        return {
            title: 'Home'
        }
    },
    methods: {
        toggleAboutUs(){
            this.$refs.aboutus.classList.toggle('active-text');
        }
    }
}
</script>
<style>
.round-image{
    border-radius: 10px;
}
.blockquote--home{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.image-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center
}
.box{
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #fff;
    padding: 1em 0;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: all 0.2s;
    border-radius: 5px;
}
.box > .lnr{
    font-size: 1.5em;
    margin-right: 0.5em;
}
.box:hover{
    color: var(--box-hover-color);
    background: var(--box-hover-background);
}
.text-blob--home{
    font-size: 1.2em;
    padding: 1em;
    line-height: 2em;
}
.text-blob--home ol{
    margin-left: 40px;
}
.text-blob--home p{
    margin-bottom: 1em;
}
.link-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: var(--text-color);
    cursor: pointer;
    margin: 1em 0;
}
.link-text:hover{
    color: var(--text-color-alt);
}
.text-blob--aboutus{
    display: none;
    opacity: 0;
    transition: all 0.5s;
}
.text-blob--aboutus.active-text{
    display: inline;
    opacity: 1;
}
</style>
