<template lang='pug'>
    section
        .blockquote.blockquote--patient
            .blockquote__image
                img.pull-right(src='~/assets/medicines.gif')
            .blockquote__text
                p Hello patients,
                p Not feeling well?
                br
                p.lower Add your symptoms and find your best doctor near you.
                p
                    span.lnr.lnr-arrow-right
                    | Book appointments from our app and save yourself from standing in long queues.
            
        .image-text--patient
            .image-text__background--patient
                .image-text__tagline--patient We provide offers from time to time!
            .image-text__description--patient
                img.pull-right.medicines-image(src='~/assets/medicines.jpeg')
                ul 
                    li 
                        span.lnr.lnr-chevron-right 
                        | Get medicines at your doorstep.
                    li 
                        span.lnr.lnr-chevron-right 
                        | Buy membership cards:
                        ul.inner-list
                            li Platinum - ₹ 600
                            li Gold - ₹ 400
                            li Silver - ₹ 200
                        br
                        span.lnr.lnr-chevron-right 
                        | Each have their specific advantages and benefits.
                        p Discounts offered
                        ul.inner-list
                            li Platinum card holders - 10%
                            li Gold card holders - 5%
                            li Silver card holders - 2%
                br
                p So sign up to be a permanent member of Docine!
                br
                a.button(href='#') Sign up!


</template>
<script>
export default {
    name: 'Patients',
    head () {
    return {
            title: 'Patients'
        }
    }
}
</script>
<style>
.medicines-image{
    max-width: 50%;
    border-radius: 5px;
}
.blockquote--patient{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.blockquote__image{
    max-width: 50%;
}
.blockquote__image > img{
    border-radius: 5px;
}
.image-text--patient{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-text__background--patient{
    background: url('~/assets/black-cloud.svg');
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    padding: 100px 30px;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.6em;
}
.image-text__background--patient > .image-text__tagline--patient{
    text-align: center;
}
.image-text__description--patient{
    font-size: 1.2em;
    min-width: 70%;
}
.image-text__description--patient > ul{
    list-style: none;
}
.image-text__description--patient > ul > li{
    margin-bottom: 10px;
}
.image-text__description--patient > ul > li > .lnr{
    font-size: 0.8em;
    margin-right: 10px;
}
.image-text__description--patient ul.inner-list{
    margin-left: 40px;
    list-style-type: disc;
    font-size: 0.9em;
}
.image-text__description--patient > p{
    font-size: 1.2em;
}
.blockquote__text > p > .lnr{
    margin-right: 0.5em;
}
</style>
